
.roomName{
    padding: 3%;
    background-color: #141619;
    border:5px;
    border-bottom-style:solid ;

    color:#ffffff;
}
.bg-black{
    background-color: #141619;

}
.roomBody{
    padding: 1%;

}
/*values from sensors*/
.card{
    box-sizing: border-box;
}
.sensor-value{
    font-size: 20px;
    display: inline-block;
    margin-left: 2%;
}
.myBtn{
    font-size: 15px;
    border-radius: 50px;
    padding: 5px 20px;
    transition: all 0.2s;
    background-color: #f82249;
    border: 2px solid #f82249;
    color: #fff;
}
.myBtn:hover{
    background: #000;
    border: 2px solid #f82249;
    transition: all ease-in-out 0.2s;

}
.myModalHeader{
    border-bottom: 2px solid #f82249;
}
