
.roomName{
    padding: 3%;
    background-color: #343a40;
    border:5px;
    border-bottom-style:solid ;

    color:#ffffff;
    border-top-left-radius: 2%;
}
.roomBody{
    padding: 1%;
    text-align: center;

}
/*values from sensors*/
.card{
    box-sizing: border-box;
}
.sensor-value{
    font-size: 20px;
    display: inline-block;
    margin-left: 2%;
}
